body{
    margin: 0;
}

#wrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-rows: 10vh auto 20vh;
    grid-template-columns: 10% 10% 60% 10% 10% ;
    grid-template-areas:
    'hd hd hd hd hd'
    'mn mn mn mn mn'
    'ft ft ft ft ft'
    ;
}

h1,h2,h3,h4{
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 1,2;
}

ul{
    display: flex;
    flex-direction: row;
}

header {
    background-color: blueviolet;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
}

nav{
    background-color: crimson;
    grid-area: nav;
}

main{
    background-color: burlywood;
    grid-area: mn;
    display: grid;
    gap: 50px;
    padding: 35px;
}


.main_container{
    display: grid;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 20px;
    gap: 40px;
    
}

.image{
    background-color: yellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 190vh ;
    height: 90vh ;
    border-radius: 10px;
    justify-content: flex-end;
    row-gap: 10px;
    column-gap: 30px;
}

.icon_image{
    background-color: maroon;
    width: 25vw;
    height: 15vh;
    border-radius: 25px;
    align-self: flex-end;
}

.smaller_container{
    background-color: ghostwhite;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 190vh;
    height: 50vh;
    border-radius: 15px;
}

footer{
    background-color: hotpink;
    grid-area: ft;
}

