body{
    margin: 0;
}

#wrapper{
    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-rows: 10vh auto 30vh;
    grid-template-columns: 10% 10% 60% 10% 10% ;
    grid-template-areas:
    'hd hd hd hd hd'
    'mn mn mn mn mn'
    'ft ft ft ft ft'
    ;
}

.rammetto-one-regular {
    font-family: "Rammetto One", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
  
h1,h2,h3,h4{
    margin-bottom: 8px;
    font-weight: 5000;
    line-height: 1,2;
    text-align: center;
    font-family: rametto;
}

li{
    list-style-type: none;
}

header {
    background-color: blueviolet;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: flex-end;
    align-content: space-around;
    
}

nav{
    background-color: crimson;
    grid-area: nav;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50vw;
}

nav a{
    padding: 20px 50px;
    text-decoration: none;
}

.logo{


}

main{
    background-color: burlywood;
    grid-area: mn;
    display: grid;
    gap: 50px;
    padding: 35px;
}


.main_container{
    display: grid;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    padding: 20px;
    gap: 40px;
    border-radius: 5px;
    
}

.image{
    background-color: yellow;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 190vh ;
    height: 90vh ;
    border-radius: 10px;
    justify-content: flex-end;
}

img{
    border-radius: 30px;
    padding: 20px;

}

.weapon_container{
    background-color: maroon;
    display: grid;
    width: 10vw;
    height: 70vh;
    border-radius: 15px;
    align-self: flex-end;
    padding: 20px 30px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.weapon_container img{
    width: 13vh;
    height: 10vh;
}

.smaller_container{
    background-color: ghostwhite;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 190vh;
    height: 50vh;
    border-radius: 15px;
}

.smaller_container img{
    width: 200px;
    height: 200px;
    margin-top: 25px;
}

.weapon{

}

.weapon_role{

}

footer{
    background-color: hotpink;
    grid-area: ft;
}

.footer_wrapper{
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 190vh;
    height: 30vh;
    align-items: stretch;
}

.tiny_footer{
    background-color: blueviolet;
    width: 60vh;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

